@{
    ViewData["Title"] = "Панель администратора";
}

<h1 class="display-4">Панель администратора</h1>

<p>
    <label>
        Если Вы хотите увидеть список всех зарегистрированных пользователей сайта,
        произвести поиск по пользователям и совершить действия с аккаунтами пользователей
        (изменить данные, удалить пользователя), нажмите на кнопку ниже.
    </label><br />
    <a class="btn btn-primary" href="/admin/userList">Список всех пользователей</a>
</p>

<p>
    <label>
        Если Вы хотите увидеть список всех вариантов расчёта,
        произвести поиск по вариантам расчёта и совершить действия с ними
        (изменить данные, удалить), нажмите на кнопку ниже.
    </label><br />
    <a class="btn btn-primary" href="/home/index">Список вариантов расчёта</a>
</p>

<p>
    <label>Нажмите на кнопку ниже, чтобы увидеть список администраторов сайта.</label><br />
    <a class="btn btn-primary" href="/admin/userList?UserIsAdmin=true">Список администраторов сайта</a>
</p>