name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker compose build
    - name: Save the Docker image
      run: docker save raspredeleniyedutyaapp > docker-image.tar
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
          name: docker-image.tar
          path: docker-image.tar
